<!DOCTYPE html>
<style type="text/css" media="screen">
	div{}
	
	body{
				background-color:#c4b6ab;
				font-family: 微軟正黑體;
				font-size: 20px;
				color: #e7c718;
		}
	h1{
			padding-left:20px;
			padding-top: 20px;
			padding-bottom: 10px;
	}
	hr{ 
		border:none;
    	border-top: 3px solid #922726; }
	.contact {
			margin-top:50px; 
			margin-left:27%; 
			margin-right:2%; 
			margin-bottom:40px;
			padding-bottom: 10px;
			background-color: #264659;
			border-radius: 50px;
		}
	div.cnt{
		
		line-height: 130%;
		text-align: left;
	}		
	img.cnt{
		float: left;
		height: 300px; width: 180px;
		margin-left: 170px;
		margin-right:170px;
		}	

	.background {
			margin-top:50px; 
			margin-left:27%; 
			margin-right:2%;  
			margin-bottom:50px;
			background-color: #264659;
			border-radius: 50px;
		}
	p.bg{
	
		line-height: 200%;
		text-align: center;
		padding-bottom: 30px;
		
	}	

	.about {
			margin-top:50px; 
			margin-left:2%; 
			margin-right:2%;  
			margin-bottom:50px;
			background-color: #264659;
			border-radius: 50px;
		}
	p.about{
			padding-top: 10px;
			padding-bottom: 30px;
			padding-left:120px;
			padding-right: 120px;
	}	

	.goal {
			margin-top:50px; 
			margin-left:2%; 
			margin-right:2%; 
			margin-bottom:50px;
			background-color: #264659;
			border-radius: 50px;
		}
	p.goal{
			padding-top: 10px;
			padding-bottom: 30px;
			padding-left:120px;
			padding-right: 120px;
			vertical-align:super;
			line-height: 200%;
	}
			


</style>
